@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-pampas: 242, 239, 234;
		--color-bridal-heath: 255, 252, 247;
		--color-gun-powder: 64, 61, 88;
		--color-steel-gray: 37, 35, 51;
		--color-viking: 102, 215, 209;
		--color-medium-carmine: 165, 75, 51;
		--color-chenin: 219, 213, 110;
	}
}
